<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/course/add" method="POST">
        <label>Course Name </label><input value="" name="courseName"/>
        <br>
        <label>Course Duration </label><input value="" name="courseDuration"/>
        <br>
        <label>Course Fees </label><input value="" name="courseFee"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>