<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Name : </h1>
    <h4><%=userName%></h4>
    <h1>Email:</h1>
    <h4><%=UserEmail%></h4>
    <h1>Ph Number</h1>
    <h4><%=UserPhNumber%></h4>
</body>
</html>